Repository boostcampwm-2021/WEB29-BoostTeams, pull requests merged in 2021-12, with the labels that each got.

#210 [Test] 보드, 일정 부하테스트
  backend/package.json
  backend/test/artillery/board-test.yml
  backend/test/artillery/data.csv
  backend/test/artillery/report/board-report1
  backend/test/artillery/report/board-report1.html
  backend/test/artillery/report/board-report2
  backend/test/artillery/report/board-report2.html
  backend/test/artillery/report/board-report3
  backend/test/artillery/report/board-report3.html
  backend/test/artillery/schedule-test.yml
  backend/yarn.lock
Labels: 🧪test

#227 [Test] Jest 초기 설정 및 Auth 관련 테스트 코드 작성
  backend/.eslintrc
  backend/babel.config.js
  backend/jest.config.ts
  backend/package.json
  backend/src/index.ts
  backend/test/jest/auth.test.js
  backend/tsconfig.json
  backend/yarn.lock
Labels: 🧪test

#218 [Refactor] BE 타입 분리, 일정 api 함수 분리
  backend/src/customeTypes/chat.ts
  backend/src/customeTypes/schedule.ts
  backend/src/services/chat-room-service.ts
  backend/src/services/schedule-service.ts
Labels: ♻️refactor, 🌥backend

#219 [Docs] swagger 업데이트
  backend/src/swagger/openapi.yaml
  backend/src/swagger/paths/auth/info.yaml
  backend/src/swagger/paths/auth/login.yaml
  backend/src/swagger/paths/auth/signup.yaml
  backend/src/swagger/paths/team/createTeam.yaml
  backend/src/swagger/paths/team/handleUser.yaml
  backend/src/swagger/paths/team/invite.yaml
  backend/src/swagger/paths/team/team.yaml
  backend/src/swagger/paths/team/user.yaml
  backend/src/swagger/swagger.yaml
Labels: 📚docs

#221 [Fix] middleware 수정
  backend/src/controllers/team-contorller.ts
  backend/src/middlewares/user.ts
  backend/src/routes/team-router.ts
  backend/src/services/team-user-service.ts
  frontend/src/components/Users/UserList/UserList.tsx
Labels: 🐛fixed, 🌥backend

#229 [Fix] Redis index 관련 오류 해결
  backend/src/redis/index.ts
Labels: 🌥backend, 🐞bug

#230 [Refactor] Redis API 리팩토링
  backend/src/redis/index.ts
  backend/src/services/board-service.ts
  backend/src/services/message-service.ts
Labels: ♻️refactor, 🌥backend

#233 [Chore] 일정 권한 없음 오류 수정, 일부 레거시 제거
  backend/package.json
  backend/src/controllers/user-controller.ts
  backend/src/middlewares/user.ts
  backend/src/passport/local-strategy.ts
  backend/src/routes/schedule-router.ts
  backend/src/services/user-service.ts
  backend/test/jest/auth.test.js
  backend/yarn.lock
  frontend/package.json
  frontend/src/apis/auth.ts
  frontend/yarn.lock
Labels: 🐛fixed, 🌻chore

#235 [Chore] Build 파일 및 report 파일 제거
  backend/test/artillery/report/board-report1
  backend/test/artillery/report/board-report1.html
  backend/test/artillery/report/board-report2
  backend/test/artillery/report/board-report2.html
  backend/test/artillery/report/board-report3
  backend/test/artillery/report/board-report3.html
Labels: 🌻chore

#238 [Feat] 놀이터
  backend/src/controllers/team-contorller.ts
  backend/src/controllers/user-controller.ts
  backend/src/passport/github-strategy.ts
Labels: 🌥backend

#239 release
  backend/src/controllers/team-contorller.ts
  backend/src/controllers/user-controller.ts
  backend/src/passport/github-strategy.ts
Labels: 🚀devops

#240 [Chore] 찐막
  frontend/src/App.tsx
  frontend/src/assets/fonts/NotoSans-Bold.woff
  frontend/src/assets/fonts/NotoSans-Regular.woff
  frontend/src/assets/fonts/NotoSansKR-Bold.woff2
  frontend/src/assets/fonts/NotoSansKR-Light.woff2
  frontend/src/assets/fonts/NotoSansKR-Medium.woff2
  frontend/src/assets/fonts/NotoSansKR-Regular.woff2
  frontend/src/components/common/DropDown/index.tsx
  frontend/src/components/common/DropDown/style.ts
  frontend/src/styles/fonts.css
  frontend/src/styles/global.ts
Labels: 🌻chore, :sunny:frontend

#242 release
  README.md
  backend/README.md
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/assets/fonts/NotoSans-Bold.woff
  frontend/src/assets/fonts/NotoSans-Regular.woff
  frontend/src/assets/fonts/NotoSansKR-Bold.woff2
  frontend/src/assets/fonts/NotoSansKR-Light.woff2
  frontend/src/assets/fonts/NotoSansKR-Medium.woff2
  frontend/src/assets/fonts/NotoSansKR-Regular.woff2
  frontend/src/components/common/DropDown/index.tsx
  frontend/src/components/common/DropDown/style.ts
  frontend/src/styles/fonts.css
  frontend/src/styles/global.ts
Labels: 🚀devops

#243 [Fix] 일정 api 수정
  backend/src/controllers/schedule-controller.ts
  backend/src/routes/schedule-router.ts
  frontend/src/apis/schedule.ts
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Calendar/CalendarModal/index.tsx
  frontend/src/types/calendar.ts
Labels: 🐛fixed

#244 release
  README.md
  backend/src/controllers/schedule-controller.ts
  backend/src/routes/schedule-router.ts
  frontend/src/apis/schedule.ts
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Calendar/CalendarModal/index.tsx
  frontend/src/types/calendar.ts
Labels: 🚀devops

#247 [Fix] 오전, 오후 오타 수정
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/index.tsx
  frontend/src/types/calendar.ts
  frontend/src/utils/constants.ts
Labels: 🐛fixed

#248 release
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/index.tsx
  frontend/src/types/calendar.ts
  frontend/src/utils/constants.ts
Labels: 🚀devops

#250 [Design] 약간의 반응형
  frontend/src/styles/global.ts
  frontend/src/templates/BoardTemplate/style.ts
  frontend/src/utils/constants.ts
Labels: 🎨layout, :sunny:frontend

#251 release v1.0.2
  frontend/src/styles/global.ts
  frontend/src/templates/BoardTemplate/style.ts
  frontend/src/utils/constants.ts
Labels: 🚀devops

#253 [Refactor] typeORM Repository 리펙토링
  backend/ormconfig.ts
  backend/src/controllers/team-contorller.ts
  backend/src/controllers/user-controller.ts
  backend/src/middlewares/user.ts
  backend/src/passport/github-strategy.ts
  backend/src/passport/local-strategy.ts
  backend/src/repositories/team-repository.ts
  backend/src/repositories/team-user-repository.ts
  backend/src/repositories/user-repository.ts
  backend/src/services/team-service.ts
  backend/src/services/team-user-service.ts
  backend/src/services/user-service.ts
Labels: ♻️refactor, 🌥backend

#257 Chore/x
  backend/src/controllers/team-contorller.ts
  backend/src/repositories/team-repository.ts
  frontend/src/components/Board/Postit/index.tsx
  frontend/src/components/Users/UsersHeader/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/templates/UsersTemplate/style.ts
Labels: 🐛fixed, ✨feature, :sunny:frontend, 🌥backend

#258 release v1.0.3
  backend/ormconfig.ts
  backend/src/controllers/team-contorller.ts
  backend/src/controllers/user-controller.ts
  backend/src/middlewares/user.ts
  backend/src/passport/github-strategy.ts
  backend/src/passport/local-strategy.ts
  backend/src/repositories/team-repository.ts
  backend/src/repositories/team-user-repository.ts
  backend/src/repositories/user-repository.ts
  backend/src/services/team-service.ts
  backend/src/services/team-user-service.ts
  backend/src/services/user-service.ts
  frontend/src/components/Board/Postit/index.tsx
  frontend/src/components/Users/UsersHeader/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/templates/UsersTemplate/style.ts
Labels: 🚀devops
