Repository boostcampwm-2021/WEB29-BoostTeams, pull requests merged in 2021-11, with the labels that each got.

#9 Feat/login#7
  backend/.eslintrc
  backend/README.md
  backend/ormconfig.ts
  backend/package.json
  backend/src/controllers/user-controller.ts
  backend/src/entities/chat_room-user.ts
  backend/src/entities/chat_room.ts
  backend/src/entities/message.ts
  backend/src/entities/postit.ts
  backend/src/entities/reaction.ts
  backend/src/entities/schedule.ts
  backend/src/entities/team-user.ts
  backend/src/entities/team.ts
  backend/src/entities/user.ts
  backend/src/index.ts
  backend/src/repositories/chat_room-repository.ts
  backend/src/repositories/chat_room-user-repository.ts
  backend/src/repositories/message-repository.ts
  backend/src/repositories/postit-repository.ts
  backend/src/repositories/reaction-repository.ts
  backend/src/repositories/schedule-repository.ts
  backend/src/repositories/team-repository.ts
  backend/src/repositories/team-user-repository.ts
  backend/src/repositories/user-repository.ts
  backend/src/routes/user-router.ts
  backend/src/services/user-service.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: 🌥backend

#10 전체적인 UI 구성(헤더바, 나브바, 서브바)
  frontend/.eslintrc
  frontend/package.json
  frontend/public/index.html
  frontend/public/logo.png
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/style.ts
  frontend/src/components/Icons/ProfileIcon/index.tsx
  frontend/src/components/Icons/ProfileIcon/style.ts
  frontend/src/components/Icons/TeamIcon/index.tsx
  frontend/src/components/Icons/TeamIcon/style.ts
  frontend/src/components/Navbar/index.tsx
  frontend/src/components/Navbar/style.ts
  frontend/src/components/Sidebar/index.tsx
  frontend/src/components/Sidebar/style.ts
  frontend/src/logo.svg
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/templates/ChatTemplate/style.ts
  frontend/src/utils/constants.ts
  frontend/yarn.lock
Labels: 🎨layout, :sunny:frontend

#15 [Fix] tsconfig.json path 오류
  frontend/.eslintrc
  frontend/.eslintrc.js
  frontend/tsconfig.eslint.json
Labels: 🐛fixed, 🌻chore

#16 월간, 주간 달력 UI 부분 구현
  frontend/src/App.tsx
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/Schedule/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/Schedule/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/style.ts
  frontend/src/components/Icons/ProfileIcon/index.tsx
  frontend/src/components/Icons/TeamIcon/index.tsx
  frontend/src/components/Navbar/style.ts
  frontend/src/index.css
  frontend/src/pages/CalendarPage/index.tsx
  frontend/src/templates/CalendarTemplate/index.tsx
  frontend/src/templates/CalendarTemplate/style.ts
  frontend/src/utils/constants.ts
Labels: 🎨layout, :sunny:frontend

#17 [Feat/login#12#13] Login Page 및 Github Login 구현
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/user-controller.ts
  backend/src/index.ts
  backend/src/passport/github-strategy.ts
  backend/src/passport/jwt-utils.ts
  backend/src/passport/local-strategy.ts
  backend/src/routes/auth-router.ts
  backend/src/services/user-service.ts
  backend/yarn.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/apis/auth.ts
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Login/index.tsx
  frontend/src/components/Login/style.ts
  frontend/src/index.tsx
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/styles/global.ts
  frontend/src/templates/LoginTemplate/index.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/fetch.ts
  frontend/yarn.lock
Labels: 🎨layout, 🌻chore, :sunny:frontend, 🌥backend

#19 jsxSingleQuote Rule 추가
  frontend/.eslintrc.js
  frontend/.prettierrc
  frontend/src/components/Header/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/routes/router.tsx
Labels: ♻️refactor, 🌻chore

#23 공동 작업
  backend/src/entities/user.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/Schedule/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/Schedule/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/index.tsx
  frontend/src/components/common/Header/index.tsx
  frontend/src/components/common/Header/style.ts
  frontend/src/components/common/Icons/ProfileIcon/index.tsx
  frontend/src/components/common/Icons/ProfileIcon/style.ts
  frontend/src/components/common/Icons/TeamIcon/index.tsx
  frontend/src/components/common/Icons/TeamIcon/style.ts
  frontend/src/components/common/Navbar/index.tsx
  frontend/src/components/common/Navbar/style.ts
  frontend/src/components/common/Sidebar/index.tsx
  frontend/src/components/common/Sidebar/style.ts
  frontend/src/components/common/index.ts
  frontend/src/pages/CalendarPage/index.tsx
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/stores/calendar.ts
  frontend/src/stores/user.ts
  frontend/src/templates/CalendarTemplate/index.tsx
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/utils/constants.ts
  frontend/yarn.lock
Labels: 🌻chore, :sunny:frontend

#27 [Feat/login#14] Github login FE,BE 연결 / Local Login 동작 확인
  backend/.gitignore
  backend/src/controllers/user-controller.ts
  backend/src/controllers/utils.ts
  backend/src/index.ts
  backend/src/passport/github-strategy.ts
  backend/src/passport/local-strategy.ts
  backend/src/routes/auth-router.ts
  backend/src/services/user-service.ts
  backend/src/token/index.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/apis/auth.ts
  frontend/src/components/Login/index.tsx
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/TeamPage/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/templates/LoginTemplate/index.tsx
  frontend/src/templates/TeamTemplate/index.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/cookie.ts
  frontend/src/utils/fetch.ts
  frontend/yarn.lock
Labels: 🐛fixed, ✨feature, 🌻chore, :sunny:frontend, 🌥backend

#26 [Feat] 주간, 월간 달력 일정 표시, 토글버튼으로 전환
  frontend/package.json
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/MonthHeader/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthHeader/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/Schedule/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/Schedule/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/ScheduleItem/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/ScheduleItem/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/index.tsx
  frontend/src/components/Calendar/dataStructure.ts
  frontend/src/templates/CalendarTemplate/index.tsx
  frontend/src/utils/constants.ts
  frontend/yarn.lock
Labels: ✨feature, 🎨layout, ♻️refactor, :sunny:frontend

#28 [Refacto] Login middleware 분리
  backend/package.json
  backend/src/controllers/user-controller.ts
  backend/src/index.ts
  backend/src/middlewares/token.ts
  backend/src/middlewares/user.ts
  backend/src/passport/local-strategy.ts
  backend/src/routes/auth-router.ts
  backend/src/routes/index.ts
  backend/src/token/index.ts
  backend/yarn.lock
  frontend/src/routes/router.tsx
  frontend/src/utils/constants.ts
Labels: ♻️refactor, 🌻chore, 🌥backend

#33 회원 가입 및 로그인 유지
  backend/package.json
  backend/src/controllers/user-controller.ts
  backend/src/controllers/utils.ts
  backend/src/middlewares/token.ts
  backend/src/passport/github-strategy.ts
  backend/src/passport/local-strategy.ts
  backend/src/routes/auth-router.ts
  backend/src/services/user-service.ts
  backend/yarn.lock
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/apis/auth.ts
  frontend/src/components/Login/GithubButton.tsx
  frontend/src/components/Login/LoginButton.tsx
  frontend/src/components/Login/Logo.tsx
  frontend/src/components/Login/SignUpButton.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/Login/style.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/SignUpPage/index.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/PublicRoute.tsx
  frontend/src/routes/router.tsx
  frontend/src/styles/global.ts
  frontend/src/templates/LoginTemplate/index.tsx
  frontend/src/templates/LoginTemplate/style.ts
  frontend/src/templates/SignUpTemplate/index.tsx
  frontend/src/templates/SignUpTemplate/style.ts
  frontend/src/utils/cookie.ts
  frontend/src/utils/fetch.ts
  frontend/src/utils/regexs.ts
  frontend/yarn.lock
Labels: ✨feature, 🎨layout, :sunny:frontend, 🌥backend

#34 [Feat/calendar#30] 팀 일정 page 구현, Schedule 생성 Modal 구현
  backend/package.json
  backend/src/controllers/schedule-controller.ts
  backend/src/entities/schedule.ts
  backend/src/index.ts
  backend/src/routes/schedule-router.ts
  backend/src/services/schedule-service.ts
  backend/src/services/user-service.ts
  backend/yarn.lock
  frontend/public/index.html
  frontend/src/apis/calendar.ts
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/day.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/week.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthHeader/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthHeader/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/Schedule/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/index.tsx
  frontend/src/components/Calendar/dataStructure.ts
  frontend/src/components/common/Modal/Calendar/button.tsx
  frontend/src/components/common/Modal/Calendar/form.tsx
  frontend/src/components/common/Modal/Calendar/index.tsx
  frontend/src/components/common/Modal/Calendar/style.ts
  frontend/src/hooks/schedule/index.tsx
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/stores/calendar.ts
  frontend/src/stores/user.ts
  frontend/src/templates/CalendarTemplate/index.tsx
  frontend/src/templates/CalendarTemplate/utils.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/fetch.ts
Labels: 🐛fixed, ✨feature, 🎨layout, ♻️refactor, 🌻chore, :sunny:frontend, 🌥backend

#35 [Fix] Conflict resolve 이후 오류 해결
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/router.tsx
Labels: 🐛fixed

#36 [Fix] Frontend dotenv 수정
  backend/src/passport/local-strategy.ts
  backend/src/services/user-service.ts
  frontend/src/App.tsx
  frontend/src/apis/auth.ts
  frontend/src/utils/fetch.ts
Labels: 🐛fixed

#37 [Fix] dotenv 환경 변수 BE 설정
  backend/src/passport/local-strategy.ts
  backend/src/services/user-service.ts
Labels: 🐛fixed

#40 [Feat/calendar#38#39] 일정 페이지 모달, 주/월 넘어가기 구현
  frontend/package.json
  frontend/src/apis/calendar.ts
  frontend/src/apis/schedule.ts
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/day.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/week.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthHeader/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/ScheduleItem/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/index.tsx
  frontend/src/components/Calendar/dataStructure.ts
  frontend/src/components/common/Button/index.tsx
  frontend/src/components/common/Button/style.ts
  frontend/src/components/common/ColorPicker/index.tsx
  frontend/src/components/common/ColorPicker/style.ts
  frontend/src/components/common/DropDown/index.tsx
  frontend/src/components/common/DropDown/style.ts
  frontend/src/components/common/Modal/Calendar/button.tsx
  frontend/src/components/common/Modal/Calendar/form.tsx
  frontend/src/components/common/Modal/Calendar/index.tsx
  frontend/src/components/common/Modal/Calendar/style.ts
  frontend/src/hooks/schedule/index.tsx
  frontend/src/stores/calendar.ts
  frontend/src/templates/CalendarTemplate/index.tsx
  frontend/src/templates/CalendarTemplate/utils.ts
  frontend/src/utils/calendar.ts
  frontend/src/utils/constants.ts
  frontend/yarn.lock
Labels: ✨feature, 🎨layout, ♻️refactor, :sunny:frontend

#48 [팀 관리] 팀 선택 page UI 구성
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/apis/team.ts
  frontend/src/components/Team/CardList/index.tsx
  frontend/src/components/Team/CardList/style.ts
  frontend/src/components/Team/TeamCard/index.tsx
  frontend/src/components/Team/TeamCard/style.ts
  frontend/src/components/Team/index.tsx
  frontend/src/index.tsx
  frontend/src/stores/team.ts
  frontend/src/templates/TeamTemplate/index.tsx
  frontend/src/templates/TeamTemplate/style.ts
  frontend/src/utils/constants.ts
Labels: ✨feature, 🎨layout, ♻️refactor, :sunny:frontend

#50 [로그인] 헤더 프로필 및 로그아웃
  backend/src/entities/user.ts
  backend/src/passport/github-strategy.ts
  backend/src/services/user-service.ts
  frontend/src/apis/auth.ts
  frontend/src/components/common/Header/ProfileSimple/Buttons/Account.tsx
  frontend/src/components/common/Header/ProfileSimple/Buttons/Logout.tsx
  frontend/src/components/common/Header/ProfileSimple/Buttons/index.tsx
  frontend/src/components/common/Header/ProfileSimple/Buttons/style.ts
  frontend/src/components/common/Header/ProfileSimple/UserInfo/EmailBox.tsx
  frontend/src/components/common/Header/ProfileSimple/UserInfo/GithubBadge.tsx
  frontend/src/components/common/Header/ProfileSimple/UserInfo/index.tsx
  frontend/src/components/common/Header/ProfileSimple/UserInfo/style.ts
  frontend/src/components/common/Header/ProfileSimple/index.tsx
  frontend/src/components/common/Header/ProfileSimple/style.ts
  frontend/src/components/common/Header/index.tsx
  frontend/src/components/common/Header/style.ts
  frontend/src/components/common/Icons/ProfileIcon/index.tsx
  frontend/src/components/common/Icons/ProfileIcon/style.ts
  frontend/src/components/common/Logo/LongLogo.tsx
  frontend/src/components/common/Logo/index.tsx
  frontend/src/components/common/Logo/style.ts
  frontend/src/components/common/Navbar/style.ts
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/stores/user.ts
  frontend/src/styles/global.ts
Labels: ✨feature, 🎨layout, :sunny:frontend, 🌥backend

#53 [Feat/calendar#41#42#49] 일정 수정, 삭제, 모달 리팩토링
  backend/src/controllers/schedule-controller.ts
  backend/src/routes/schedule-router.ts
  backend/src/services/schedule-service.ts
  frontend/package.json
  frontend/src/apis/schedule.ts
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Calendar/CalendarModal/index.tsx
  frontend/src/components/Calendar/CalendarModal/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/day.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/week.tsx
  frontend/src/components/Calendar/MonthlyCalendar/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/style.ts
  frontend/src/components/Calendar/dataStructure.ts
  frontend/src/components/common/Modal/Calendar/index.tsx
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/Modal/style.ts
  frontend/src/hooks/schedule/index.tsx
  frontend/src/templates/CalendarTemplate/index.tsx
  frontend/src/utils/calendar.ts
  frontend/yarn.lock
Labels: 🐛fixed, ✨feature, ♻️refactor, :sunny:frontend, 🌥backend

#54 [로그인] hotfix
  backend/src/services/user-service.ts
Labels: 🐛fixed, 🌥backend

#55 [Style] eslint rule 변경(camelcase)
  frontend/.eslintrc.js
  frontend/src/apis/schedule.ts
  frontend/src/components/Calendar/CalendarModal/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/index.tsx
  frontend/src/components/Calendar/dataStructure.ts
  frontend/src/components/Team/CardList/index.tsx
  frontend/src/components/Team/TeamCard/index.tsx
  frontend/src/components/common/Modal/index.tsx
Labels: 🌻chore

#61 [로그인] 사용자 이름 변경
  backend/src/controllers/user-controller.ts
  backend/src/routes/user-router.ts
  backend/src/services/user-service.ts
  frontend/src/apis/user.ts
  frontend/src/components/common/Header/ProfileSimple/UpdateModal/index.tsx
  frontend/src/components/common/Header/ProfileSimple/UpdateModal/style.ts
  frontend/src/components/common/Header/ProfileSimple/UserInfo/index.tsx
  frontend/src/components/common/Header/ProfileSimple/UserInfo/style.ts
  frontend/src/components/common/Header/ProfileSimple/index.tsx
  frontend/src/components/common/Header/index.tsx
  frontend/src/components/common/Icons/ProfileIcon/style.ts
  frontend/src/utils/fetch.ts
Labels: ✨feature, :sunny:frontend, 🌥backend

#63 [팀 관리] #43#45#51 팀 선택 page 구현 중
  backend/src/controllers/team-user-contorller.ts
  backend/src/index.ts
  backend/src/middlewares/token.ts
  backend/src/repositories/team-repository.ts
  backend/src/routes/team-user-router.ts
  backend/src/services/team-user-service.ts
  frontend/src/apis/team.ts
  frontend/src/components/Team/CardList/index.tsx
  frontend/src/components/Team/CardList/style.ts
  frontend/src/components/Team/TeamCard/index.tsx
  frontend/src/components/common/Logo/LongLogo.tsx
  frontend/src/routes/router.tsx
  frontend/src/stores/team.ts
  frontend/src/templates/TeamTemplate/index.tsx
Labels: ✨feature, 🎨layout, ♻️refactor, :sunny:frontend, 🌥backend

#62 [Feat/calendar#56#57#59] 팀 id로 이슈 가져오기, 일정 반복기능 구현, 리팩토링
  backend/package.json
  backend/src/controllers/schedule-controller.ts
  backend/src/entities/schedule.ts
  backend/src/routes/schedule-router.ts
  backend/src/services/schedule-service.ts
  backend/yarn.lock
  frontend/src/apis/schedule.ts
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Calendar/CalendarModal/TimeInput.tsx
  frontend/src/components/Calendar/CalendarModal/index.tsx
  frontend/src/components/Calendar/CalendarModal/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/Day.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/Week.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/index.tsx
  frontend/src/components/Calendar/dataStructure.ts
  frontend/src/components/common/Button/style.ts
  frontend/src/components/common/ColorPicker/index.tsx
  frontend/src/components/common/ColorPicker/style.ts
  frontend/src/stores/calendar.ts
  frontend/src/templates/CalendarTemplate/index.tsx
  frontend/src/utils/calendar.ts
Labels: ✨feature, ♻️refactor, :sunny:frontend, 🌥backend

#64 [Chore] userRouter 주석 해제
  backend/src/index.ts
Labels: 🐛fixed, 🌥backend

#67 [팀 관리] 팀 선택 page BE API 리펙토링, 버그 수정
  backend/src/controllers/team-contorller.ts
  backend/src/controllers/team-user-contorller.ts
  backend/src/entities/chat_room.ts
  backend/src/entities/postit.ts
  backend/src/entities/schedule.ts
  backend/src/entities/team-user.ts
  backend/src/entities/team.ts
  backend/src/index.ts
  backend/src/routes/team-router.ts
  backend/src/routes/team-user-router.ts
  backend/src/services/team-service.ts
  backend/src/services/team-user-service.ts
  frontend/src/apis/team.ts
  frontend/src/components/Team/CardList/InviteList.tsx
  frontend/src/components/Team/CardList/MyTeamList.tsx
  frontend/src/components/Team/CardList/index.tsx
  frontend/src/components/Team/CardList/style.ts
  frontend/src/components/Team/Cards/CreateCard.tsx
  frontend/src/components/Team/Cards/InviteCard.tsx
  frontend/src/components/Team/Cards/TeamCard.tsx
  frontend/src/components/Team/Cards/Thumbnail.tsx
  frontend/src/components/Team/Cards/index.tsx
  frontend/src/components/Team/Cards/style.ts
  frontend/src/components/Team/CreateTeamModal/index.tsx
  frontend/src/components/Team/TeamCard/index.tsx
  frontend/src/components/Team/TeamCard/style.ts
  frontend/src/components/Team/index.tsx
  frontend/src/components/Team/type.ts
  frontend/src/components/common/Button/style.ts
  frontend/src/pages/TeamPage/index.tsx
  frontend/src/stores/team.ts
  frontend/src/templates/TeamTemplate/index.tsx
Labels: ✨feature, 🎨layout, ♻️refactor, :sunny:frontend, 🌥backend

#73 [Feat] navbar 라우팅, 팀 아이콘 동적 생성
  frontend/src/components/common/Navbar/index.tsx
  frontend/src/components/common/Navbar/style.ts
Labels: ✨feature, 🎨layout, :sunny:frontend

#75 [팀 관리] 팀 생성
  backend/src/services/team-service.ts
  backend/src/services/team-user-service.ts
  frontend/src/apis/team.ts
  frontend/src/components/Team/Cards/InviteCard.tsx
  frontend/src/components/Team/CreateTeamModal/index.tsx
  frontend/src/components/Team/CreateTeamModal/style.ts
  frontend/src/utils/fetch.ts
Labels: ✨feature, 🎨layout, :sunny:frontend

#76 [기타] Loading / Error Page 작성
  frontend/public/images/loading.gif
  frontend/src/pages/ErrorPage/index.tsx
  frontend/src/pages/LoadingPage/index.tsx
  frontend/src/pages/TeamPage/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/templates/ErrorTemplate/index.tsx
  frontend/src/templates/ErrorTemplate/style.ts
  frontend/src/templates/LoadingTemplate/index.tsx
  frontend/src/templates/LoadingTemplate/style.ts
Labels: 🌻chore, :sunny:frontend

#80 [Refactor] BE REST API status code 수정
  backend/src/controllers/schedule-controller.ts
  backend/src/controllers/team-contorller.ts
  backend/src/controllers/user-controller.ts
Labels: ♻️refactor, 🌥backend

#82 Release
  backend/src/controllers/schedule-controller.ts
  backend/src/controllers/team-contorller.ts
  backend/src/controllers/user-controller.ts
  frontend/src/App.tsx
  frontend/src/components/common/Navbar/index.tsx
  frontend/src/pages/TeamPage/index.tsx
  frontend/src/templates/CalendarTemplate/index.tsx
Labels: 🚀devops

#84 [Fix] Toast Message 에러 수정
  backend/src/controllers/schedule-controller.ts
  backend/src/controllers/user-controller.ts
  backend/src/passport/local-strategy.ts
  frontend/src/apis/auth.ts
  frontend/src/apis/user.ts
Labels: 🐛fixed, ✨feature, ♻️refactor, :sunny:frontend, 🌥backend

#85 Release
  backend/src/controllers/schedule-controller.ts
  backend/src/controllers/user-controller.ts
  backend/src/passport/local-strategy.ts
  frontend/src/apis/auth.ts
  frontend/src/apis/user.ts
Labels: 🚀devops

#83 [chore/storybook#78] 스토리북 초기 설정
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/components/common/Button/index.stories.tsx
  frontend/src/components/common/Button/index.tsx
  frontend/src/components/common/ColorPicker/index.stories.tsx
  frontend/src/components/common/ColorPicker/index.tsx
  frontend/src/components/common/Header/ProfileSimple/index.stories.tsx
  frontend/yarn.lock
Labels: 🌻chore

#87 [Feat/socket#65] 소켓 연결 설정, 팀 온라인 유저 배열 가져오기
  backend/src/index.ts
  backend/src/sockets/index.ts
  backend/src/sockets/store.ts
  backend/src/sockets/team.ts
  frontend/src/App.tsx
  frontend/src/components/common/Navbar/index.tsx
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/routes/TeamRoute.tsx
  frontend/src/routes/router.tsx
  frontend/src/templates/UsersTemplate/index.tsx
  frontend/src/utils/socketContext.ts
Labels: ✨feature, 🌻chore, :sunny:frontend, 🌥backend

#88 [Refactor/calendar#59] 일정 리팩토링, 경고 처리
  backend/src/services/schedule-service.ts
  frontend/src/apis/schedule.ts
  frontend/src/components/Calendar/CalendarModal/index.tsx
  frontend/src/components/Calendar/CalendarModal/style.ts
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/style.ts
  frontend/src/components/Calendar/WeeklyCalendar/ScheduleItem/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/index.tsx
  frontend/src/components/common/Button/index.tsx
  frontend/src/components/common/ColorPicker/index.tsx
  frontend/src/components/common/DropDown/index.tsx
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/Navbar/index.tsx
  frontend/src/pages/CalendarPage/index.tsx
  frontend/src/templates/CalendarTemplate/index.tsx
  frontend/src/utils/calendar.ts
Labels: ♻️refactor

#93 [Feat] 팀 내부관리 페이지 UI 구성
  frontend/package.json
  frontend/src/components/Users/SearchUsers/style.ts
  frontend/src/components/Users/UserList/SearchUsers.tsx
  frontend/src/components/Users/UserList/UserList.tsx
  frontend/src/components/Users/UserList/index.tsx
  frontend/src/components/Users/UserList/style.ts
  frontend/src/components/Users/UsersHeader/index.tsx
  frontend/src/components/Users/UsersHeader/style.ts
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/templates/UsersTemplate/index.tsx
  frontend/src/templates/UsersTemplate/style.ts
  frontend/yarn.lock
Labels: 🎨layout, :sunny:frontend

#94 [Feat/chat#91] 팀 채팅 UI 작업
  frontend/src/components/Chat/ChatContent/Message/index.tsx
  frontend/src/components/Chat/ChatContent/Message/style.ts
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Chat/ChatContent/style.ts
  frontend/src/components/Chat/ChatHeader/index.tsx
  frontend/src/components/Chat/ChatHeader/style.ts
  frontend/src/components/Chat/ChatSidebar/index.tsx
  frontend/src/components/Chat/ChatSidebar/style.ts
  frontend/src/components/common/Navbar/style.ts
  frontend/src/components/common/Sidebar/index.tsx
  frontend/src/components/common/Sidebar/style.ts
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/templates/ChatTemplate/style.ts
  frontend/src/utils/time.ts
Labels: 🎨layout, :sunny:frontend

#96 [Fix] 새로고침 했을 때 소켓, userEmail을 가져오지 못하는 문제 해결
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/routes/TeamRoute.tsx
Labels: 🐛fixed, :sunny:frontend

#100 [Feat] 팀, 유저 정보 가져오기, 팀 탈퇴 기능 구현
  backend/src/controllers/team-contorller.ts
  backend/src/entities/team-user.ts
  backend/src/index.ts
  backend/src/routes/users-router.ts
  backend/src/services/team-service.ts
  backend/src/services/team-user-service.ts
  frontend/src/apis/team.ts
  frontend/src/apis/users.ts
  frontend/src/components/Team/Cards/Thumbnail.tsx
  frontend/src/components/Users/UserList/SearchUsers.tsx
  frontend/src/components/Users/UserList/UserList.tsx
  frontend/src/components/Users/UserList/index.tsx
  frontend/src/components/Users/UserList/style.ts
  frontend/src/components/Users/UsersHeader/index.tsx
  frontend/src/components/Users/UsersModal/index.tsx
  frontend/src/components/Users/UsersModal/style.ts
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/routes/TeamRoute.tsx
  frontend/src/templates/UsersTemplate/index.tsx
Labels: 🐛fixed, ✨feature, :sunny:frontend, 🌥backend

#101 [Feat/chat#91#99] 채팅 페이지 모드 설정, 유저 초대 검색 필터링,
  backend/src/controllers/chat-controller.ts
  backend/src/index.ts
  backend/src/routes/chat-router.ts
  backend/src/services/chat-room-service.ts
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Chat/ChatContent/style.ts
  frontend/src/components/Chat/ChatHeader/index.tsx
  frontend/src/components/Chat/ChatHeader/style.ts
  frontend/src/components/Chat/ChatSidebar/index.tsx
  frontend/src/components/Chat/ChatSidebar/style.ts
  frontend/src/components/Chat/dataStructure.ts
  frontend/src/components/common/Navbar/style.ts
  frontend/src/components/common/Sidebar/style.ts
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/templates/ChatTemplate/style.ts
Labels: 🎨layout, :sunny:frontend, 🌥backend

#104 [팀 내부관리] 팀 삭제, 팀 업데이트, 팀 나가기 수정
  backend/src/controllers/team-contorller.ts
  backend/src/entities/chat_room-user.ts
  backend/src/entities/chat_room.ts
  backend/src/index.ts
  backend/src/routes/team-router.ts
  backend/src/routes/users-router.ts
  frontend/src/apis/team.ts
  frontend/src/apis/users.ts
  frontend/src/components/Users/DeleteTeamModal/index.tsx
  frontend/src/components/Users/DeleteTeamModal/style.ts
  frontend/src/components/Users/ExitTeamModal/index.tsx
  frontend/src/components/Users/ExitTeamModal/style.ts
  frontend/src/components/Users/SearchUsers/style.ts
  frontend/src/components/Users/UpdateTeamModal/index.tsx
  frontend/src/components/Users/UpdateTeamModal/style.ts
  frontend/src/components/Users/UserList/SearchUsers.tsx
  frontend/src/components/Users/UserList/UserList.tsx
  frontend/src/components/Users/UserList/index.tsx
  frontend/src/components/Users/UserList/style.ts
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/templates/UsersTemplate/index.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/team.ts
Labels: 🐛fixed, ✨feature, :sunny:frontend, 🌥backend

#105 [팀 보드] 포스트잇 수정, 이동 UI, Socket API 구성
  backend/src/sockets/team.ts
  frontend/package.json
  frontend/src/components/Board/Canvas/index.tsx
  frontend/src/components/Board/Modal/index.tsx
  frontend/src/components/Board/Modal/style.ts
  frontend/src/components/Board/Postit/index.tsx
  frontend/src/components/common/Header/style.ts
  frontend/src/components/common/Navbar/style.ts
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/routes/TeamRoute.tsx
  frontend/src/templates/BoardTemplate/index.tsx
  frontend/src/templates/BoardTemplate/style.ts
  frontend/src/utils/constants.ts
  frontend/yarn.lock
Labels: ✨feature, 🎨layout, :sunny:frontend, 🌥backend

#106 [Feat/chat#99] 채팅방 생성, 채팅방 목록 가져오기
  backend/src/controllers/chat-controller.ts
  backend/src/entities/chat_room-user.ts
  backend/src/entities/chat_room.ts
  backend/src/entities/team-user.ts
  backend/src/entities/user.ts
  backend/src/routes/chat-router.ts
  backend/src/services/chat-room-service.ts
  backend/src/services/team-service.ts
  backend/src/sockets/team.ts
  frontend/src/apis/chat.ts
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Chat/ChatHeader/Header.tsx
  frontend/src/components/Chat/ChatHeader/SearchHeader.tsx
  frontend/src/components/Chat/ChatHeader/index.tsx
  frontend/src/components/Chat/ChatHeader/style.ts
  frontend/src/components/Chat/ChatSidebar/index.tsx
  frontend/src/components/Chat/ChatSidebar/style.ts
  frontend/src/components/Chat/dataStructure.ts
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/TeamRoute.tsx
  frontend/src/stores/user.ts
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/utils/fetch.ts
Labels: ✨feature, :sunny:frontend, 🌥backend

#112 [팀 보드] 팀 보드 page UI 구성, Socket API 구성
  backend/src/sockets/index.ts
  backend/src/sockets/team.ts
  backend/src/sockets/teamBoard.ts
  frontend/src/components/Board/Canvas/index.tsx
  frontend/src/components/Board/CreateButton/index.tsx
  frontend/src/components/Board/CreateButton/style.ts
  frontend/src/components/Board/Modal/index.tsx
  frontend/src/components/Board/Modal/style.ts
  frontend/src/components/Board/Postit/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/templates/BoardTemplate/index.tsx
  frontend/src/utils/constants.ts
Labels: ✨feature, :star::star::star:, :sunny:frontend, 🌥backend

#111 [Feat/users#107#108] 팀 내부 관리 작업
  backend/src/controllers/team-contorller.ts
  backend/src/routes/team-router.ts
  backend/src/services/team-user-service.ts
  frontend/src/apis/team.ts
  frontend/src/components/Users/DeleteTeamModal/style.ts
  frontend/src/components/Users/ExitTeamModal/style.ts
  frontend/src/components/Users/Modal/DeleteTeamModal/index.tsx
  frontend/src/components/Users/Modal/ExitTeamModal/index.tsx
  frontend/src/components/Users/Modal/InviteUserModal/index.tsx
  frontend/src/components/Users/Modal/KickoutTeamModal/index.tsx
  frontend/src/components/Users/Modal/UpdateTeamModal/index.tsx
  frontend/src/components/Users/Modal/index.ts
  frontend/src/components/Users/Modal/style.ts
  frontend/src/components/Users/UserList/SearchUsers.tsx
  frontend/src/components/Users/UserList/User.tsx
  frontend/src/components/Users/UserList/UserList.tsx
  frontend/src/components/Users/UserList/index.tsx
  frontend/src/components/Users/UserList/style.ts
  frontend/src/components/Users/UsersHeader/style.ts
  frontend/src/components/common/Header/index.tsx
  frontend/src/components/common/Icons/ProfileIcon/index.tsx
  frontend/src/components/common/Navbar/index.tsx
  frontend/src/components/common/Navbar/style.ts
  frontend/src/components/common/index.ts
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/stores/team.ts
  frontend/src/templates/UsersTemplate/index.tsx
  frontend/src/templates/UsersTemplate/style.ts
  frontend/src/utils/constants.ts
Labels: ✨feature, :sunny:frontend, 🌥backend

#113 콘솔로그 제거 및 유저 상태 표기 변경
  backend/src/sockets/team.ts
  backend/src/sockets/teamBoard.ts
  frontend/src/apis/team.ts
  frontend/src/components/common/Header/index.tsx
Labels: 🐛fixed

#114 [Fix] 포스트잇 하나도 없을 때 생성 안되는 오류
  backend/src/sockets/teamBoard.ts
Labels: 🐛fixed, 🌥backend

#116 [Fix] Socket polling 그만
  frontend/src/routes/TeamRoute.tsx
Labels: 🐛fixed

#119 [Docs] README 수정
  README.md
  backend/README.md
  frontend/README.md
Labels: 📚docs

#121 [Fix] 피어세션 도중 발견했던 오류 수정
  backend/src/entities/chat_room-user.ts
  backend/src/entities/chat_room.ts
  backend/src/entities/user.ts
  backend/src/passport/github-strategy.ts
  backend/src/services/user-service.ts
  frontend/.storybook/main.js
  frontend/src/components/Board/Modal/index.tsx
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Users/UserList/User.tsx
  frontend/src/components/common/Header/ProfileSimple/UpdateModal/index.tsx
  frontend/src/components/common/Header/ProfileSimple/UserInfo/GithubBadge.tsx
  frontend/src/components/common/Header/ProfileSimple/UserInfo/index.tsx
  frontend/src/components/common/Header/ProfileSimple/index.stories.tsx
  frontend/src/components/common/Header/ProfileSimple/index.tsx
  frontend/src/components/common/Header/ProfileSimple/style.ts
  frontend/src/components/common/Header/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/TeamRoute.tsx
  frontend/src/stores/user.ts
Labels: 🐛fixed, ♻️refactor, 🌻chore, :sunny:frontend, 🌥backend

#123 [Fix]Local Accout Signup오류 수정
  backend/src/passport/github-strategy.ts
  backend/src/services/user-service.ts
Labels: 🐛fixed, 🌥backend

#127 [Feat/chat#125] 전역 상태 관리
  frontend/config-overrides.js
  frontend/src/apis/chat.ts
  frontend/src/components/Chat/ChatContent/Message/index.tsx
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Chat/ChatHeader/Header.tsx
  frontend/src/components/Chat/ChatHeader/SearchHeader.tsx
  frontend/src/components/Chat/ChatHeader/index.tsx
  frontend/src/components/Chat/ChatSidebar/index.tsx
  frontend/src/components/Chat/dataStructure.ts
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/stores/chat.ts
  frontend/src/stores/user.ts
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/types/chat.ts
  frontend/tsconfig.path.json
Labels: ♻️refactor, :sunny:frontend

#128 [DevOps] Redis 설치, BE 환경설정
  backend/package.json
  backend/src/index.ts
  backend/src/redis/index.ts
  backend/yarn.lock
Labels: 🚀devops, 🌥backend

#131 [Hotfix] 엔티티 수정에 따라 추가 배포
  README.md
  backend/README.md
  backend/package.json
  backend/src/entities/chat_room-user.ts
  backend/src/entities/chat_room.ts
  backend/src/entities/user.ts
  backend/src/index.ts
  backend/src/passport/github-strategy.ts
  backend/src/redis/index.ts
  backend/src/services/user-service.ts
  backend/yarn.lock
  frontend/.storybook/main.js
  frontend/README.md
  frontend/config-overrides.js
  frontend/src/apis/chat.ts
  frontend/src/components/Board/Modal/index.tsx
  frontend/src/components/Chat/ChatContent/Message/index.tsx
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Chat/ChatHeader/Header.tsx
  frontend/src/components/Chat/ChatHeader/SearchHeader.tsx
  frontend/src/components/Chat/ChatHeader/index.tsx
  frontend/src/components/Chat/ChatSidebar/index.tsx
  frontend/src/components/Chat/dataStructure.ts
  frontend/src/components/Users/UserList/User.tsx
  frontend/src/components/common/Header/ProfileSimple/UpdateModal/index.tsx
  frontend/src/components/common/Header/ProfileSimple/UserInfo/GithubBadge.tsx
  frontend/src/components/common/Header/ProfileSimple/UserInfo/index.tsx
  frontend/src/components/common/Header/ProfileSimple/index.stories.tsx
  frontend/src/components/common/Header/ProfileSimple/index.tsx
  frontend/src/components/common/Header/ProfileSimple/style.ts
  frontend/src/components/common/Header/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/TeamRoute.tsx
  frontend/src/stores/chat.ts
  frontend/src/stores/user.ts
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/types/chat.ts
  frontend/tsconfig.path.json
Labels: 🚀devops, 🌻chore

#136 [Docs] Swagger 설정, 문서 작성
  backend/package.json
  backend/src/controllers/team-contorller.ts
  backend/src/index.ts
  backend/src/routes/team-router.ts
  backend/src/services/team-user-service.ts
  backend/src/services/user-service.ts
  backend/src/swagger/components/chat.yaml
  backend/src/swagger/components/schedule.yaml
  backend/src/swagger/components/team.yaml
  backend/src/swagger/components/user.yaml
  backend/src/swagger/openapi.yaml
  backend/src/swagger/paths/auth/callback.yaml
  backend/src/swagger/paths/auth/github.yaml
  backend/src/swagger/paths/auth/info.yaml
  backend/src/swagger/paths/auth/login.yaml
  backend/src/swagger/paths/auth/signup.yaml
  backend/src/swagger/paths/chat/chat.yaml
  backend/src/swagger/paths/chat/chatRoom.yaml
  backend/src/swagger/paths/schedule/scheduleByScheduleId.yaml
  backend/src/swagger/paths/schedule/scheduleByTeamId.yaml
  backend/src/swagger/paths/team/createTeam.yaml
  backend/src/swagger/paths/team/invite.yaml
  backend/src/swagger/paths/team/response.yaml
  backend/src/swagger/paths/team/team.yaml
  backend/src/swagger/paths/team/user.yaml
  backend/src/swagger/paths/team/users.yaml
  backend/src/swagger/paths/user/user.yaml
  backend/src/swagger/swagger.yaml
  backend/yarn.lock
  frontend/src/apis/team.ts
  frontend/src/apis/users.ts
  frontend/src/components/Users/Modal/ExitTeamModal/index.tsx
  frontend/src/components/Users/Modal/InviteUserModal/index.tsx
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/stores/chat.ts
Labels: 📚docs, 🌥backend

#144 [Feat/chat#99#129#135] 채팅 및 팀 유저 관련 작업
  backend/src/controllers/chat-controller.ts
  backend/src/routes/chat-router.ts
  backend/src/services/chat-room-service.ts
  backend/src/services/team-user-service.ts
  backend/src/sockets/chat.ts
  backend/src/sockets/index.ts
  backend/src/sockets/store.ts
  backend/src/sockets/team.ts
  frontend/src/apis/chat.ts
  frontend/src/components/Chat/ChatContent/Message/index.tsx
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Chat/ChatHeader/Header.tsx
  frontend/src/components/Chat/ChatHeader/SearchHeader.tsx
  frontend/src/components/Chat/ChatHeader/index.tsx
  frontend/src/components/Chat/ChatSidebar/index.tsx
  frontend/src/components/Chat/UpdateRoomNameModal/index.tsx
  frontend/src/components/Chat/UpdateRoomNameModal/style.ts
  frontend/src/components/Users/Modal/ExitTeamModal/index.tsx
  frontend/src/components/Users/Modal/KickoutTeamModal/index.tsx
  frontend/src/components/Users/UserList/User.tsx
  frontend/src/components/Users/UserList/UserList.tsx
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/stores/chat.ts
  frontend/src/stores/team.ts
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/types/chat.ts
  frontend/src/types/team.ts
Labels: 🐛fixed, ✨feature, ♻️refactor, :sunny:frontend, 🌥backend

#137 [팀 보드] 포스트잇 삭제
  frontend/src/components/Board/Canvas/index.tsx
  frontend/src/components/Board/CreateButton/style.ts
  frontend/src/components/Board/Modal/Create/index.tsx
  frontend/src/components/Board/Modal/Create/style.ts
  frontend/src/components/Board/Modal/Delete/index.tsx
  frontend/src/components/Board/Modal/Delete/style.ts
  frontend/src/components/Board/Postit/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/templates/BoardTemplate/index.tsx
  frontend/src/templates/BoardTemplate/style.ts
  frontend/src/types/board.ts
  frontend/src/utils/constants.ts
Labels: ✨feature, ♻️refactor, :sunny:frontend

#145 [Fix] pr 머지 후 import 에러, 타입 에러 수정
  frontend/src/components/Chat/ChatHeader/SearchHeader.tsx
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/stores/team.ts
Labels: 🐛fixed

#141 [팀 보드] Redis 도입, BE socket API 로직 변경
  backend/src/redis/index.ts
  backend/src/sockets/teamBoard.ts
  backend/tsconfig.path.json
  backend/yarn.lock
  frontend/src/pages/BoardPage/index.tsx
Labels: 🚀devops, 🐛fixed, ✨feature, ♻️refactor, 🌥backend

#147 [Fix] pr 머지시 삭제된 코드 추가
  frontend/src/apis/team.ts
  frontend/src/components/Users/UserList/User.tsx
Labels: 🐛fixed

#150 [팀 내부관리] 유저 권한 변경, 팀관리메뉴 드롭다운으로 변경, 리팩토링
  backend/src/controllers/team-contorller.ts
  backend/src/entities/chat_room-user.ts
  backend/src/entities/chat_room.ts
  backend/src/routes/team-router.ts
  backend/src/services/team-user-service.ts
  frontend/package.json
  frontend/src/apis/team.ts
  frontend/src/components/Users/Modal/DeleteTeamModal/index.tsx
  frontend/src/components/Users/Modal/ExitTeamModal/index.tsx
  frontend/src/components/Users/Modal/KickoutTeamModal/index.tsx
  frontend/src/components/Users/Modal/UpdateTeamModal/index.tsx
  frontend/src/components/Users/UserList/SearchUsers.tsx
  frontend/src/components/Users/UserList/User.tsx
  frontend/src/components/Users/UserList/UserList.tsx
  frontend/src/components/Users/UserList/index.tsx
  frontend/src/components/Users/UsersHeader/index.tsx
  frontend/src/components/common/DropDown/index.tsx
  frontend/src/components/common/DropDown/style.ts
  frontend/src/pages/UsersPage/index.tsx
  frontend/src/stores/team.ts
  frontend/src/templates/UsersTemplate/index.tsx
  frontend/src/utils/constants.ts
  frontend/yarn.lock
Labels: ✨feature, ♻️refactor, :sunny:frontend, 🌥backend

#152 [Feat/chat#138] 채팅방 나가기, 채팅방 헤더 드롭다운
  backend/src/controllers/chat-controller.ts
  backend/src/routes/chat-router.ts
  backend/src/services/chat-room-service.ts
  backend/src/sockets/chat.ts
  backend/src/sockets/store.ts
  backend/src/sockets/team.ts
  frontend/src/apis/chat.ts
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Chat/ChatHeader/Dropdown/InviteDropdown.tsx
  frontend/src/components/Chat/ChatHeader/Dropdown/UpdateDropdown.tsx
  frontend/src/components/Chat/ChatHeader/Dropdown/UsersDropdown.tsx
  frontend/src/components/Chat/ChatHeader/Dropdown/style.ts
  frontend/src/components/Chat/ChatHeader/Header.tsx
  frontend/src/components/Chat/ChatHeader/Header/RoomHeader.tsx
  frontend/src/components/Chat/ChatHeader/Header/SearchHeader.tsx
  frontend/src/components/Chat/ChatHeader/Header/style.tsx
  frontend/src/components/Chat/ChatHeader/SearchInput/index.tsx
  frontend/src/components/Chat/ChatHeader/SearchInput/style.ts
  frontend/src/components/Chat/ChatHeader/index.tsx
  frontend/src/components/Chat/ChatHeader/style.ts
  frontend/src/components/Chat/ChatSidebar/index.tsx
  frontend/src/components/Chat/UpdateRoomNameModal/index.tsx
  frontend/src/components/Chat/UpdateRoomNameModal/style.ts
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/stores/chat.ts
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/types/chat.ts
Labels: ✨feature, ♻️refactor, :sunny:frontend, 🌥backend

#151 [팀 보드] 일부 오류 수정 및 일부 개선
  backend/src/sockets/teamBoard.ts
  frontend/src/components/Board/Canvas/index.tsx
  frontend/src/components/Board/CreateButton/index.tsx
  frontend/src/components/Board/CreateButton/style.ts
  frontend/src/components/Board/Postit/index.tsx
  frontend/src/components/common/Header/style.ts
  frontend/src/components/common/Navbar/style.ts
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/routes/TeamRoute.tsx
  frontend/src/templates/BoardTemplate/index.tsx
  frontend/src/utils/constants.ts
Labels: 🐛fixed, ✨feature, :sunny:frontend, 🌥backend

#153 [Fix]새로운 field 생성시 Index초기화 현상 수정
  backend/src/redis/index.ts
Labels: 🐛fixed

#156 [팀 보드] 경쟁 상황 해결
  backend/src/sockets/teamBoard.ts
  frontend/src/components/Board/Canvas/index.tsx
  frontend/src/components/Board/Modal/Create/index.tsx
  frontend/src/components/Board/Modal/Create/style.ts
  frontend/src/components/Board/Postit/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/templates/BoardTemplate/index.tsx
  frontend/src/types/board.ts
Labels: 🐛fixed, :sunny:frontend, 🌥backend

#157 [Fix] REST API path 변경
  backend/src/controllers/team-contorller.ts
  backend/src/controllers/user-controller.ts
  backend/src/index.ts
  backend/src/middlewares/user.ts
  backend/src/routes/schedule-router.ts
  backend/src/routes/team-router.ts
  backend/src/routes/user-router.ts
  backend/src/services/team-service.ts
  backend/src/services/team-user-service.ts
  frontend/src/apis/chat.ts
  frontend/src/apis/schedule.ts
  frontend/src/apis/team.ts
  frontend/src/apis/user.ts
  frontend/src/components/Users/Modal/UpdateTeamModal/index.tsx
  frontend/src/components/common/Header/ProfileSimple/index.tsx
Labels: 🐛fixed, 🌥backend

#158 [Feat/chat#130#139] 채팅 db연동, 최근 메시지 띄우기, 채팅방 목록 정렬
  backend/src/controllers/chat-controller.ts
  backend/src/routes/chat-router.ts
  backend/src/sockets/chat.ts
  backend/src/sockets/store.ts
  frontend/src/apis/chat.ts
  frontend/src/components/Chat/ChatContent/Message/index.tsx
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Chat/ChatHeader/Dropdown/InviteDropdown.tsx
  frontend/src/components/Chat/ChatHeader/Dropdown/UpdateDropdown.tsx
  frontend/src/components/Chat/ChatHeader/Header/RoomHeader.tsx
  frontend/src/components/Chat/ChatHeader/SearchInput/index.tsx
  frontend/src/components/Chat/ChatHeader/index.tsx
  frontend/src/components/Chat/ChatSidebar/index.tsx
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/stores/chat.ts
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/types/chat.ts
  frontend/src/utils/time.ts
Labels: ✨feature, :sunny:frontend, 🌥backend

#161 [팀 보드] 오류 해결 및 디자인 변경
  frontend/package.json
  frontend/public/images/pencil-square.svg
  frontend/src/components/Board/Postit/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/yarn.lock
Labels: 🎨layout, :sunny:frontend

#162 [Fix] 콘솔로그 제거, 소켓 오류 해결
  backend/src/sockets/chat.ts
Labels: 🐛fixed

#163 [Refactor] Redis 도입에 따른 미사용 Entity 제거
  backend/src/entities/chat_room.ts
  backend/src/entities/message.ts
  backend/src/entities/postit.ts
  backend/src/entities/reaction.ts
  backend/src/entities/team.ts
  backend/src/entities/user.ts
  backend/src/repositories/message-repository.ts
  backend/src/repositories/postit-repository.ts
  backend/src/repositories/reaction-repository.ts
Labels: 🚀devops, 🌥backend

#166 [Fix] middleware error fix
  backend/src/middlewares/user.ts
Labels: 🐛fixed, 🌥backend

#168 [Fix] 채팅방 썸네일 색 수정, 초대시 event 안가는 오류 수정
  backend/src/sockets/chat.ts
  frontend/src/components/Chat/ChatContent/Message/index.tsx
Labels: 🐛fixed

#169 release
  backend/src/middlewares/user.ts
  backend/src/routes/schedule-router.ts
  backend/src/sockets/chat.ts
  frontend/src/components/Chat/ChatContent/Message/index.tsx
  frontend/src/components/Users/Modal/DeleteTeamModal/index.tsx
  frontend/src/components/Users/Modal/ExitTeamModal/index.tsx
Labels: 🚀devops

#173 [Docs] 5주차 README 업데이트
  README.md
  backend/README.md
Labels: 📚docs

#180 [Refactor] BE socket Event 상수 처리
  backend/src/sockets/eventType.ts
  backend/src/sockets/team.ts
  backend/src/sockets/teamBoard.ts
Labels: ♻️refactor, 🌥backend

#182 [Refactor/chat#172] 채팅 소켓 리팩토링
  backend/src/controllers/chat-controller.ts
  backend/src/index.ts
  backend/src/routes/chat-router.ts
  backend/src/services/chat-room-service.ts
  backend/src/sockets/chat.ts
  backend/src/sockets/eventType.ts
  frontend/src/apis/chat.ts
  frontend/src/components/Chat/ChatContent/Message/index.tsx
  frontend/src/components/Chat/ChatContent/index.tsx
  frontend/src/components/Chat/ChatHeader/Dropdown/InviteDropdown.tsx
  frontend/src/components/Chat/ChatHeader/Dropdown/UpdateDropdown.tsx
  frontend/src/components/Chat/ChatHeader/Dropdown/UsersDropdown.tsx
  frontend/src/components/Chat/ChatHeader/Header/RoomHeader.tsx
  frontend/src/components/Chat/ChatHeader/SearchInput/index.tsx
  frontend/src/components/Chat/ChatHeader/index.tsx
  frontend/src/components/Chat/ChatSidebar/index.tsx
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/stores/chat.ts
  frontend/src/templates/ChatTemplate/index.tsx
  frontend/src/types/chat.ts
Labels: ♻️refactor

#185 [Refactor] redis 구조 변경
  backend/src/redis/index.ts
  backend/src/sockets/chat.ts
  backend/src/sockets/teamBoard.ts
Labels: ♻️refactor, 🌥backend

#184 [Refactor/calendar#183] 일정 type 폴더 이동, camel snake 혼용 수정
  frontend/src/apis/schedule.ts
  frontend/src/components/Calendar/CalendarHeader/index.tsx
  frontend/src/components/Calendar/CalendarHeader/style.ts
  frontend/src/components/Calendar/CalendarModal/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/Day.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/Week.tsx
  frontend/src/components/Calendar/MonthlyCalendar/MonthContent/index.tsx
  frontend/src/components/Calendar/MonthlyCalendar/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/ScheduleItem/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekContent/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/WeekHeader/index.tsx
  frontend/src/components/Calendar/WeeklyCalendar/index.tsx
  frontend/src/components/common/index.ts
  frontend/src/pages/CalendarPage/index.tsx
  frontend/src/stores/calendar.ts
  frontend/src/templates/CalendarTemplate/index.tsx
  frontend/src/types/calendar.ts
  frontend/src/utils/calendar.ts
Labels: ♻️refactor, :sunny:frontend

#190 [Feat] login refresh token 도입
  backend/ormconfig.ts
  backend/src/controllers/user-controller.ts
  backend/src/entities/user.ts
  backend/src/middlewares/token.ts
  backend/src/routes/auth-router.ts
  backend/src/services/user-service.ts
  frontend/src/apis/auth.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/SignUpPage/index.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/PublicRoute.tsx
  frontend/src/utils/fetch.ts
Labels: ✨feature, :sunny:frontend, 🌥backend

#192 [Refactor] 공통 컴포넌트 리팩토링
  frontend/.storybook/preview.js
  frontend/src/components/Board/CreateButton/style.ts
  frontend/src/components/Board/Modal/Create/index.stories.tsx
  frontend/src/components/Board/Modal/Create/index.tsx
  frontend/src/components/Board/Modal/Create/mock.ts
  frontend/src/components/Board/Modal/Create/style.ts
  frontend/src/components/Board/Modal/Delete/style.ts
  frontend/src/components/Board/Postit/index.tsx
  frontend/src/components/Chat/ChatContent/Message/style.ts
  frontend/src/components/Chat/ChatContent/style.ts
  frontend/src/components/Chat/ChatSidebar/style.ts
  frontend/src/components/Team/CreateTeamModal/index.stories.tsx
  frontend/src/components/Team/CreateTeamModal/index.tsx
  frontend/src/components/Team/CreateTeamModal/style.ts
  frontend/src/components/Users/Modal/DeleteTeamModal/index.stories.tsx
  frontend/src/components/Users/Modal/DeleteTeamModal/index.tsx
  frontend/src/components/Users/Modal/ExitTeamModal/index.stories.tsx
  frontend/src/components/Users/Modal/ExitTeamModal/index.tsx
  frontend/src/components/Users/Modal/InviteUserModal/index.stories.tsx
  frontend/src/components/Users/Modal/InviteUserModal/index.tsx
  frontend/src/components/Users/Modal/KickoutTeamModal/index.stories.tsx
  frontend/src/components/Users/Modal/KickoutTeamModal/index.tsx
  frontend/src/components/Users/Modal/UpdateTeamModal/index.stories.tsx
  frontend/src/components/Users/Modal/UpdateTeamModal/index.tsx
  frontend/src/components/Users/Modal/style.ts
  frontend/src/components/Users/UserList/style.ts
  frontend/src/components/common/Button/style.ts
  frontend/src/components/common/Header/ProfileSimple/Buttons/SignOut.tsx
  frontend/src/components/common/Header/ProfileSimple/Buttons/index.tsx
  frontend/src/components/common/Header/ProfileSimple/Modals/SignOutModal/index.stories.tsx
  frontend/src/components/common/Header/ProfileSimple/Modals/SignOutModal/index.tsx
  frontend/src/components/common/Header/ProfileSimple/Modals/SignOutModal/style.ts
  frontend/src/components/common/Header/ProfileSimple/Modals/UpdateModal/index.stories.tsx
  frontend/src/components/common/Header/ProfileSimple/Modals/UpdateModal/index.tsx
  frontend/src/components/common/Header/ProfileSimple/Modals/UpdateModal/style.ts
  frontend/src/components/common/Header/ProfileSimple/index.stories.tsx
  frontend/src/components/common/Header/ProfileSimple/index.tsx
  frontend/src/components/common/Header/ProfileSimple/style.ts
  frontend/src/components/common/Header/index.stories.tsx
  frontend/src/components/common/Header/index.tsx
  frontend/src/components/common/Modal/Form/index.tsx
  frontend/src/components/common/Modal/Form/style.ts
  frontend/src/components/common/Modal/Notification/index.tsx
  frontend/src/components/common/Modal/Notification/style.ts
  frontend/src/components/common/Modal/index.stories.tsx
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/Modal/style.ts
  frontend/src/components/common/Navbar/index.stories.tsx
  frontend/src/components/common/Navbar/style.ts
  frontend/src/components/common/Sidebar/index.stories.tsx
  frontend/src/components/common/Sidebar/index.tsx
  frontend/src/templates/BoardTemplate/style.ts
  frontend/src/templates/ChatTemplate/style.ts
  frontend/src/templates/UsersTemplate/style.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/team.ts
Labels: ✨feature, 🎨layout, :sunny:frontend
